02_Mission_Intella/4_n8n_chatbot_BONUS.json
{
  "name": "Mini-Intella Fashion Chatbot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger-001",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [32, -128],
      "webhookId": "mini-intella-chat"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/gvern/workshop-jumia/main/clean_feed_for_chatbot.json",
        "options": {}
      },
      "id": "load-products-001",
      "name": "Load Product Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [256, 32],
      "notes": "Load clean product feed for context"
    },
    {
      "parameters": {
        "text": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "context-text-001",
      "name": "Format as Context",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [480, 32]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "memory-buffer-001",
      "name": "Memory Buffer",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [480, 160]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Mini-Intella, a friendly fashion shopping assistant for Jumia.\n\nYou have access to a product catalog with fashion items including:\n- SKU, title, price, category, brand, ratings\n- Stock availability and Jumia Express eligibility\n\nYour role:\n1. Help users find products matching their needs\n2. Provide product recommendations based on category, price, brand\n3. Answer questions about product availability and pricing\n4. Be conversational and helpful\n\nProduct Context:\n{{ $json.chatInput }}\n\nUser Question: {{ $('Chat Trigger').item.json.chatInput }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a helpful fashion shopping assistant. Use the provided product data to answer questions accurately."
        }
      },
      "id": "agent-001",
      "name": "Mini-Intella Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [704, -128]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "openai-model-001",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [704, 32],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred-placeholder",
          "name": "OpenAI Account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Mini-Intella Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Product Data": {
      "main": [
        [
          {
            "node": "Format as Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format as Context": {
      "ai_document": [
        [
          {
            "node": "Mini-Intella Agent",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Memory Buffer": {
      "ai_memory": [
        [
          {
            "node": "Mini-Intella Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mini-Intella Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "chatbot-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "968483afb1876e34ae96330e235ea7e691d9d2c2379c1202de80fcb0f81bf6b4"
  },
  "id": "chatbot-bonus-001",
  "tags": []
}
